# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/modules/xml
.idea/**/gradle.xml
*.iml

# Local
/tmp/
/config.properties
/tar/

MintServ.tar
